@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
 
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Chat Feature Testing for Bizgraph</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
<body>
    <h1>Testing broadcasting code for bizgraph</h1>
    <h3>This is sort of a 'chat room' that I'm testing, <br />leave your message after the tone.  bip.</h3>
<input id="msg" type="text" />    
<input id="broadcast_room1" type="button" value="Submit to room 1" />   
<input id="broadcast_room2" type="button" value="Submit to room 2" />   
    <h2>Testing Chat Room</h2> 
    <div id="main" style="width:100%">
        <div id="room1" style="float:left;width:49%;background-color:rgba(76, 255, 0, 0.17)">
            <ul id="messages_room1">

            </ul>
        </div>
        <div id="room2" style="float:right;width:49%;background-color:rgba(0, 148, 255, 0.17)">
             <ul id="messages_room2">

            </ul>
        </div>
    </div>

      @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/Scripts/jquery.signalR-0.5.3.min.js")"></script>

<script type="text/javascript">
    $(function () {
        var connection = $.connection('echo');
        connection.received(function (data) {
            $('#messages_room1').append('<li>' + data + '</li>');
        });
        connection.start();
        $("#broadcast_room1").click(function () {
            connection.send($('#broadcast_room1').val());
        });
    });

</script> 
</body>
</html>